<div class='row'>
   <div class='col-1 top'>
      <div class='row center'>
        <input id='check-\{{commit.id}}' type='checkbox'/>
      </div>
   </div><div class='col-11 top'>
      <label id="commit-\{{commit.id}}" class='label commit-title left'>
        <a href='\{{url}}'>
        \{{messageElement}}
        </a>
      </label>
      <label class='label commit-author right'>
         [\{{commit.author}}]
      </label>
   </div>
</div>
