if mergeRequests!=undefined
  fieldset.left.merges-fieldset
    legend.main-legend Merge Requests
    div.merges-div
      each merge in mergeRequests
        fieldset
          legend.merge-title= merge.title
          div.merge-div
            div.commit-icon-div
              img(src="/public/assets/images/git-merge.png" width=20)
            div.commit-messages-container
              span.merge-subtitle Branch: 
              span #{merge.source_branch}
              br
              span.merge-subtitle Author: 
              span #{merge.author}
              br
              - var newDate = new Date(merge.date)
              span.merge-subtitle Date: 
              span= newDate
              br
              if merge.description!==''
                hr
                span #{merge.description}
                br
              if merge.commits
                each commit in merge.commits
                  br
                  div.commit-div
                    div.commit-messages-container
                      - var messageElements = []
                      - var counter = 0
                      - messageElements = commit.message.split(/\n|\r/)
                        each messageElement in messageElements
                          if messageElement && counter === 0
                            input(type="checkbox" value="#{messageElement}")
                            img.commit-title-checkbox(width=20)
                            span.commit-title (#{commit.author}) #{messageElement}
                            br
                            - counter = counter + 1
                          else if messageElement
                            input(type="checkbox" value="#{messageElement}")
                            span.commit-body= messageElement
                            br
                      
