- if(mergeRequests)
  fieldset.right
    legend Merge Requests
    each merge in mergeRequests
      fieldset
        legend= merge.title
        ul
          li 
            a(href=merge.link)= merge.link
          li #{merge.description}
          li #{merge.author}
          li #{merge.date}
