- if(mergeRequests)
  fieldset.right
    legend Merge Requests
    each merge in mergeRequests
      fieldset
        legend= merge.title
        ul
          li #{merge.source_branch}
          li #{merge.description}
          li #{merge.author}
          li #{merge.date}
